:root {
    font-family: 'DM Sans', sans-serif;
}

/* --CABECERA-- */
header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu_logo {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.menu_logo>a>img {
    width: 60px;
}

.menu_nav {
    width: 33.33%;
}

.menu_nav_items {
    display: flex;
    justify-content: space-around;
}

.menu_nav_items a {
    color: white;
    text-decoration: none;
}

.menu_cta {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.menu_cta_ig {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons8-instagram-50.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}

.menu_cta_fb {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons8-facebook-50.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}

.menu_cta_sp {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons8-spotify-50.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}

.menu_cta_sc {
    width: 24px;
    height: 24px;
    background-image: url(../img/icons8-soundcloud-50.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*-CONTENIDO-*/
.banner__title {
    height: 80px;
    width: 100%;
    background-color: #be123c;
    display: flex;
}

.banner__title__left {
    display: flex;
    padding-left: 24px;
    color: white;
    align-items: center;
    width: 50%;
}

.banner__title__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
    width: 50%;
}

.banner__title__right button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 24px;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
}

.banner__title__right button:hover {
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
    cursor: pointer;
}
.contact__section {
    height: 700px;
    width: 100%;
    display: flex;
    line-height: 1.5;
}
.contact__section__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.contact__section__box {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#form__title {
    font-size: 24px;
}
#form__description {
    color: #4b5563;
    padding-bottom: 12px;
    border-bottom: 1px solid #4b5563;
}
.contact__section__right {
    height: 100%;
    width: 50%;
    background-color:#4b5563 ;
}
form {
    margin-top: 14px;
}
input, textarea {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    margin-bottom: 14px;
}
label {
    margin-bottom: 14px;
    display: block;
}
.btn__primary {
    background-color: #be123c;
    border: 1px solid ;
    color: white;
    padding: 12px 24px;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
}
.btn__primary:hover {
    cursor: pointer;
    background-color: transparent;
    border-color: #be123c;
    color: #be123c;
    transition: all 0.5s ease-in-out;
}
/* --FOOTER-- */
.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer a {
    color: #e5e7eb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.footer__title {
    font-weight: 500;
    line-height: 1.5;
}

.footer__section {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.footer__section__contact {
    list-style: circle;
}

.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}